// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.shop-cart {
    svg {
        padding: 0;
        width: 40px;
        height: 40px;
    }
}
